@import url(navegacion.css);
@import url(diseñoGeneral/tarjetas.css);
@import url(body.css);



#inicial{
    margin: 0px;
    text-align: center;
    display: flex;
    position: absolute;top: 15%;
}
#secundario{
    margin: 0px;
    text-align: center;
    display: flex;
    position: absolute;top: 25%;
}
#encabezado{
    text-align: center;
    display: flex;
    position: absolute;top: 15%; left: 0%;

}

.columna h1{
    margin: 0px;
    text-align: center;
    font-size: 60px;
    display: flex;
    position: absolute;top: 40px; left: 40%;
}



