.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 2px solid #2920a1;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;
}
.login-box input[type="email"]{
    border: none;
    border-bottom: 2px solid #2920a1;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;

}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.warnings{
    width: 200px;
    text-align: center;
    margin: center;
    margin: auto;
    color: rgb(255, 0, 0);
    padding-top: 20px;

}